### 
# PWS Hosts + Github
###########
Host github.com
  HostName github.com
  User git 
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes 

Host pws.dev
  Hostname 172.31.0.154
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.db
  Hostname 172.31.0.152
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.prod
#  Hostname 54.193.0.133
#  For some reason, can only access
#  the production server using its 
#  internal IP when from inside the network
  Hostname 172.31.0.153
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.cron
  Hostname 172.31.0.151
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.staging
  Hostname 172.31.0.155  
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

