### 
# PWS Hosts + Github
###########
Host github.com
  HostName github.com
  User git 
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes 

Host pws.dev
  Hostname 52.8.44.96
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.db
  Hostname 52.8.3.225 
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.prod
  Hostname 54.193.0.133
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes

Host pws.cron
  Hostname 54.219.139.164
  IdentityFile ~/.ssh/id_pws
  IdentitiesOnly yes
